* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Commissioner", sans-serif;
}
body {
	font-size: 16px;
}
html {
	scroll-behavior: smooth;
}
header {
	background-image: url(images/image-hero-desktop.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 56.6vh;
	width: 100%;
	filter: blur(5px);
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav ul {
	display: flex;
	margin-right: 3rem;
	list-style-type: none;
}
nav img {
	padding: 4rem 13rem;
}
nav a {
	text-decoration: none;
	margin-right: 5rem;
	text-decoration: none;
	color: hsl(0, 100%, 100%);
}
.container {
	filter: blur(5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 98%);
}
.topsquare {
	width: 100vh;
	height: 30vh;
	background-color: hsl(0, 100%, 100%);
	margin-top: -8rem;
	border-radius: 12px;
	text-align: center;
	border: 1px solid hsl(0, 0%, 91%);
}
.topsquare h1 {
	margin-top: 2rem;
}
.topsquare p {
	color: hsl(0, 0%, 48%);
	margin-top: 1rem;
}
.logo {
	background: url(images/logo-mastercraft.svg) no-repeat center center;
	height: 60px;
	width: 100vh;
	margin-top: -2rem;
}
.buttonstop {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 15vh;
	width: 100vh;
}
.topbtn {
	width: 250px;
	height: 55px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
}
.bookmark {
	background-image: url(images/icon-bookmark.svg);
	background-repeat: no-repeat;
	width: 250px;
	height: 56px;
	border-radius: 300px;
	color: hsl(0, 0%, 48%);
	background-color: hsl(0, 0%, 98%);
	border: none;
	cursor: pointer;
	font-weight: 700;
}
.middlesquare {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vh;
	height: 20vh;
	margin-top: 2rem;
	background-color: hsl(0, 100%, 100%);
	border: 1px solid hsl(0, 0%, 91%);
}
.values {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 60px;
}
.valueBacked {
	grid-area: 1 / 1 / 2 / 2;
	border-right: 1px solid hsl(0, 0%, 48%);
	height: 50px;
	width: 150px;
}
.subvalue {
	grid-area: 2 / 1 / 3 / 2;
	border-right: 1px solid hsl(0, 0%, 48%);
	height: 20px;
	width: 150px;
}
.totalBackers {
	grid-area: 1 / 2 / 2 / 3;
	border-right: 1px solid hsl(0, 0%, 48%);
	height: 50px;
	width: 150px;
}
.daysLeft {
	grid-area: 1 / 3 / 2 / 4;
	height: 20px;
	width: 150px;
}
.totalsub {
	grid-area: 2 / 2 / 3 / 3;
	border-right: 1px solid hsl(0, 0%, 48%);
	height: 20px;
	width: 150px;
}
.subdays {
	grid-area: 2 / 3 / 3 / 4;
}
.middlesquare h2 {
	font-weight: 700;
}
.middlesquare p {
	color: hsl(0, 0%, 48%);
	font-size: 400;
}
.bar {
	width: 80vh;
	background-color: hsl(0, 4%, 91%);
	height: 2vh;
	border-radius: 50px;
}
.progess {
	width: 50vh;
	height: 2vh;
	background-color: hsl(176, 50%, 47%);
	border-radius: 50px;
}

.mainbottom {
	width: 100vh;
	height: 100%;
	background-color: hsl(0, 100%, 100%);
	margin-top: 2rem;
	border-radius: 12px;
	border: 1px solid hsl(0, 0%, 91%);
	padding: 3rem 5rem;
}
.mainbottom h3 {
	font-weight: 700;
	margin-bottom: 2rem;
	font-size: 20px;
}
.aboutcl p {
	color: hsl(0, 0%, 48%);
}
.standblocks {
	display: flex;

	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5rem;
}
.pledge {
	color: hsl(176, 50%, 47%);
}
.navbambo {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 2rem 7rem;
	margin-bottom: -3rem;
}
.bambo {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 25vh;
	border-radius: 12px;
}
.bambocontent p:nth-child(1) {
	color: hsl(0, 0%, 48%);
}
.bambocontent {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin-left: 7rem;
}
.bambolower {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 7rem;
}
.bamboNumber,
.blackeditionNumber {
	font-size: 20px;
	font-weight: 700;
}
.bamboBtn {
	width: 150px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 1rem;
}
.bambo span {
	font-weight: 400;
	margin-left: -20rem;
}
.blackedition {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 25vh;
	border-radius: 12px;
	margin-top: 2rem;
}
.blacknav {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 2rem 7rem;
	margin-bottom: -3rem;
}
.blackcontent {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 80%;
	margin-left: 7rem;
}
.blackcontent p:nth-child(1) {
	color: hsl(0, 0%, 48%);
}
.blackinp {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 7rem;
}
.blackinp span {
	margin-left: -20rem;
}
.blackeditionBtn {
	width: 150px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 1rem;
}
.mahoganyspecial {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 25vh;
	border-radius: 12px;
	margin-top: 2rem;
}
.mohognaynav {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 2rem 7rem;
	margin-bottom: -3rem;
}
.mohganycontent {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 80%;
	margin-left: 7rem;
}
.mohganycontent p:nth-child(1) {
	color: hsl(0, 0%, 48%);
}
.mohahanynmb {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 7rem;
}
.mahoganyBtn {
	width: 150px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 1rem;
}
.mohahanynmb span {
	margin-left: -20rem;
}
/* MODAL SECTION */
.backthis {
	position: fixed;
	top: 10vh;
	left: 25%;
	width: 100vh;
	height: 80vh;
	margin: 0;
	padding: 3rem 1.5rem;
	overflow-y: scroll;
	outline: none;
	border: none;
	box-shadow: 0 0 3rem rgb(0 0 0 / 50%);
	z-index: 3;
	overflow-x: hidden;
	background-color: hsl(0, 100%, 100%);
	scrollbar-width: none;
}
.backthis::-webkit-scrollbar {
	display: none;
}
.navback {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100vh;
	padding: 2rem 5rem;
}
.navback p {
	color: hsl(0, 0%, 48%);
	margin-top: 1rem;
	font-size: 15px;
}
.closemodal {
	background-image: url(images/icon-close-modal.svg);
	background-repeat: no-repeat;
	width: 23px;
	background-size: contain;
	cursor: pointer;
	margin-top: -4rem;
	margin-right: -1rem;
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.noreward {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 23vh;
	border-radius: 12px;
	margin-top: 2rem;
	padding: 4rem 5rem;
}
.noreward label {
	cursor: pointer;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
}
.noreward label:hover {
	color: hsl(176, 50%, 47%);
}
.noreward input[type="checkbox"]:hover {
	border: 1px solid hsl(176, 50%, 47%);
}
.noreward input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-right: 3rem;
	margin-left: -3rem;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.noreward input[type="checkbox"]:checked {
	background-color: hsl(176, 50%, 47%);
	border: 6px solid hsl(0, 100%, 100%);
	outline: 1px solid hsl(0, 0%, 91%);
}
.noreward p {
	margin-left: 1.7rem;
	color: hsl(0, 0%, 48%);
}
.noreward input.continue {
	width: 150px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
	margin-top: 2rem;
}
.lowernoreward {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bambostand {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 23vh;
	border-radius: 12px;
	margin-top: 2rem;
	padding: 1rem 5rem;
}
.bambostand label {
	cursor: pointer;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	margin-right: 11rem;
}
.bambostand label:hover {
	color: hsl(176, 50%, 47%);
}
.bambostand input[type="checkbox"]:hover {
	border: 1px solid hsl(176, 50%, 47%);
}
.bambostand input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-right: 3rem;
	margin-left: -3rem;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.bambostand input[type="checkbox"]:checked {
	background-color: hsl(176, 50%, 47%);
	border: 6px solid hsl(0, 100%, 100%);
	outline: 1px solid hsl(0, 0%, 91%);
}

.topb {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.lowerbambo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid hsl(0, 0%, 91%);
	margin-left: -5rem;
	margin-right: -5rem;
}
.lowerbambo span {
	margin-left: -15rem;
}
.lowerbambo p {
}
.bambocon {
	color: hsl(0, 0%, 48%);
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}
.pledgebambo {
	width: 50px;
	height: 45px;
}
.selectLowerBambo {
	width: 150px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
	margin-top: 1rem;
	margin-right: -6rem;
}
.pledgemodal {
	color: hsl(176, 50%, 47%);
	margin-left: 3rem;
}
.bamboinpmodal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 330px;
	margin-top: 2rem;
	border-top: 1px solid hsl(0, 0%, 91%);
}
.continuebambomodal {
	width: 130px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
}
.pledgeBambo {
	width: 110px;
	height: 45px;
	border-radius: 300px;
	color: hsl(0, 0%, 0%);
	border: 1px solid hsl(0, 0%, 91%);
	margin-right: -10rem;
	font-weight: 700;
	cursor: pointer;
	padding-left: 1rem;
}
.pledgeBambo::placeholder {
	padding-left: 1rem;
}
.blackedit {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 23vh;
	border-radius: 12px;
	margin-top: 2rem;
	padding: 1rem 5rem;
}
.topblack {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.blackedit label {
	cursor: pointer;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	margin-right: 11rem;
}
.blackedit label:hover {
	color: hsl(176, 50%, 47%);
}
.blackedit input[type="checkbox"]:hover {
	border: 1px solid hsl(176, 50%, 47%);
}
.blackedit input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-right: 3rem;
	margin-left: -3rem;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.blackedit input[type="checkbox"]:checked {
	background-color: hsl(176, 50%, 47%);
	border: 6px solid hsl(0, 100%, 100%);
	outline: 1px solid hsl(0, 0%, 91%);
}
.inpblackmodal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 330px;
	margin-top: 2rem;
	border-top: 1px solid hsl(0, 0%, 91%);
}
.pledgeBlack {
	width: 110px;
	height: 45px;
	border-radius: 300px;
	color: hsl(0, 0%, 0%);
	border: 1px solid hsl(0, 0%, 91%);
	margin-right: -10rem;
	font-weight: 700;
	cursor: pointer;
	padding-left: 1rem;
}
.continueblackmodal {
	width: 130px;
	height: 45px;
	border-radius: 300px;
	background-color: hsl(176, 50%, 47%);
	color: hsl(0, 100%, 100%);
	border: none;
	font-weight: 700;
	cursor: pointer;
}
.mahoganymodal {
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 91%);
	width: 83vh;
	height: 23vh;
	border-radius: 12px;
	margin-top: 2rem;
	padding: 1rem 5rem;
}
.mahoganytop {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.mahoganymodal label {
	cursor: pointer;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	margin-right: 8rem;
}
.inpmohagony {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 330px;
	margin-top: 2rem;
	border-top: 1px solid hsl(0, 0%, 91%);
}
.mahoganymodal label:hover {
	color: hsl(176, 50%, 47%);
}
.mahoganymodal input[type="checkbox"]:hover {
	border: 1px solid hsl(176, 50%, 47%);
}
.mahoganymodal input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-right: 3rem;
	margin-left: -3rem;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.mahoganymodal input[type="checkbox"]:checked {
	background-color: hsl(176, 50%, 47%);
	border: 6px solid hsl(0, 100%, 100%);
	outline: 1px solid hsl(0, 0%, 91%);
}
.mahoganyNumber {
	color: hsl(0, 0%, 0%);
	font-weight: 700;
}
